html{
  background: pink;
  width: 100%;
}
body {
  font-family: "MenoeGrotesquePro-Regular";
  position: relative;
  width: 1440px;
  display: block;
  margin: 0 auto;
  background: #FFFFFF;

}
.cover1 {
  position: absolute;
  width: 1440px;
  height: 300px;
  background-color: black;
}
h1 {
  font-family: "MenoeGrotesquePro-Regular";
  position: absolute;
  left: 184px;
  top: 113px;
  font-size: 100px;
  color: #FFFFFF;
}
.h2 {
  position: absolute;
  width: 1384px;
  left: 28px;
  top: 355px;
  font-size: 36px;
  text-align: center;
  color: #000000;
}
i {
  font-family: "MenoeGrotesquePro-Italic";
}
.h5 {
  position: absolute;
  left: 121px;
  top: 2397px;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.095em;
  color: #000000;
  }
.h5_1 {
  position: absolute;
  left: 755px;
  top: 2397px;
  font-size: 48px;
  letter-spacing: 0.095em;
  font-variant: small-caps;
  color: #000000;
}
.h5_2 {
  position: absolute;
  left: 996px;
  top: 2397px;
  font-size: 48px;
  letter-spacing: 0.095em;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}
.rectangle {
  width: 1440px;
  height: 300px;
  margin:auto;
  background: #000000;
}
.border {
  width: 1440px;
  border-top:5px solid #FFFFFF;
}
.block1 {
  position: absolute;
  width: 1440px;
  height: 23px;
  top: 306px;
  background: #000000;
}
.block2 {
  position: absolute;
  width: 1440px;
  height: 23px;
  top: 306px;
  background: #000000;
}
.block3 {
  position: absolute;
  width: 1440px;
  height: 26px;
  top: 2339px;
  background: #000000;
}
.block3_1 {
  position: absolute;
  width: 1440px;
  height: 26px;
  top: 2467px;
  background: #000000;
}
.block4 {
  position: absolute;
  width: 1440px;
  height: 5px;
  top: 2334px;
  background: #FFFFFF;
}
.block4_1 {
  position: absolute;
  width: 1441px;
  height: 5px;
  top: 2493px;
  background: #FFFFFF;
}
.block4_2 {
  position: absolute;
  width: 1440px;
  height: 5px;
  top: 2860px;
  background: #FFFFFF;
}
.block4_3 {
  position: absolute;
  width: 1440px;
  height: 5px;
  top: 3068px;
  background: #FFFFFF;
}
.block4_4 {
  position: absolute;
  width: 1440px;
  height: 5px;
  top: 3296px;
  background: #FFFFFF;
}
.block5 {
  position: absolute;
  width: 1440px;
  height: 102px;
  left: 0px;
  top: 2365px;
  background: #FFFFFF;
}
.block6 {
  position: absolute;
  width: 1440px;
  height: 822px;
  top: 2498px;
  background: #000000;
}
.block7 {
  position: absolute;
  width: 1440px;
  height: 127px;
  left: 0px;
  top: 329px;
  background: #FFFFFF;
}
.divider1 {
  position: absolute;
  width: 1440px;
  height: 1887px;
  left: 0px;
  top: 456px;
}
.divider2 {
  position: absolute;
  width: 1440px;
  height: 4938px;
  left: 0px;
  top: 3320px;
}
.divider3 {
  position: absolute;
  width: 1351.28px;
  height: 84px;
  left: 46.8px;
  top: 2928.5px;
}
.divider4 {
  position: absolute;
  width: 1440px;
  top: 482px;
}
.divider5 {
  position: absolute;
  width: 1440px;
  height: 689.21px;
  top: 3318.28px;
}
.divider6 {
  position: absolute;
  width: 1440px;
  top: 482px;
}
.divider7 {
  position: absolute;
  width: 542px;
  height: 72px;
  left: 897.51px;
  top: 4061px;
}
.divider8 {
  position: absolute;
  width: 299px;
  height: 131.94px;
  top: 4463.42px;
}
.divider9 {
  position: absolute;
  width: 1405.5px;
  height: 775.4px;
  left: 36px;
  top: 4701px;
}
.rectangle_3 {
  position: absolute;
  width: 1440px;
  height: 5px;
  top: 482px;
  background: #FFFFFF;
}
.h3 {
  position: absolute;
  width: 451px;
  left: 832px;
  top: 1420px;
  font-size: 35px;
  line-height: 154%;
  color: #FFFFFF;
}
.h4 {
  position: absolute;
  left: 1050px;
  top: 2143px;
  font-size: 72px;
  letter-spacing: 0.25em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h4_1 {
  position: absolute;
  width: 278px;
  height: 72px;
  left: 91px;
  top: 1949px;
  font-size: 72px;
  letter-spacing: 0.485em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h4_2 {
  position: absolute;
  width: 90px;
  height: 72px;
  left: 1033px;
  top: 1952px;
  font-size: 72px;
  letter-spacing: 0.04em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h4_3 {
  position: absolute;
  width: 90px;
  height: 72px;
  left: 1148.5px;
  top: 1952px;
  font-size: 72px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h4_4 {
  position: absolute;
  width: 90px;
  height: 72px;
  left: 1032px;
  top: 2045px;
  font-size: 72px;
  letter-spacing: 0.04em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h4_5 {
  position: absolute;
  width: 90px;
  height: 72px;
  left: 1151px;
  top: 2045px;
  font-size: 72px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h4_6 {
  position: absolute;
  left: 1267px;
  top: 1944px;
  font-size: 72px;
  line-height: 92px;
  letter-spacing: 0.04em;
  font-variant: small-caps;
}
.h6 {
  position: absolute;
  width: 865px;
  left: 285px;
  top: 3433px;
  font-size: 72px;
  line-height: 154%;
  text-align: center;
  color: #000000;
}
.h7 {
  position: absolute;
  width: 872px;
  left: -7px;
  top: 3988px;
  font-size: 144px;
  line-height: 142.5%;
  text-align: center;
  color: #FFFFFF;
}
.h8 {
  position: absolute;
  left: 50px;
  top: 2535px;
  font-size: 27px;
  letter-spacing: 0.095em;
  color: #FFFFFF;
}
.h9 {
  position: absolute;
  left: 45px;
  top: 2607px;
  font-size: 108px;
  letter-spacing: 0.085em;
  color: #FFFFFF;
}
.h10 {
  position: absolute;
  left: 40px;
  top: 2744px;
  font-family: Menoe Grotesque Pro;
  font-style: italic;
  font-size: 67px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}
.h11 {
  position: absolute;
  left: 453px;
  top: 2917px;
  font-size: 99px;
  letter-spacing: -0.055em;
  color: #FFFFFF;
}
.h12 {
  position: absolute;
  left: 458px;
  top: 1594px;
  font-size: 35px;
  line-height: 119%;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h13 {
  position: absolute;
  width: 84px;
  height: 74px;
  left: 252px;
  top: 1640px;
  font-size: 35px;
  line-height: 105.5%;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
}
.h14 {
  position: absolute;
  left: 52px;
  top: 3144px;
  font-size: 80px;
  letter-spacing: 0.04em;
  color: #0C0000;
  text-shadow:
	  -0   -2px 0   #FFFFFF,
	   0   -2px 0   #FFFFFF,
	  -0    2px 0   #FFFFFF,
		 0    2px 0   #FFFFFF,
		-2px -0   0   #FFFFFF,
		 2px -0   0   #FFFFFF,
		-2px  0   0   #FFFFFF,
		 2px  0   0   #FFFFFF,
		-1px -2px 0   #FFFFFF,
		 1px -2px 0   #FFFFFF,
		-1px  2px 0   #FFFFFF,
		 1px  2px 0   #FFFFFF,
		-2px -1px 0   #FFFFFF,
		 2px -1px 0   #FFFFFF,
		-2px  1px 0   #FFFFFF,
		 2px  1px 0   #FFFFFF,
		-2px -2px 0   #FFFFFF,
		 2px -2px 0   #FFFFFF,
		-2px  2px 0   #FFFFFF,
		 2px  2px 0   #FFFFFF,
		-2px -2px 0   #FFFFFF,
		 2px -2px 0   #FFFFFF,
		-2px  2px 0   #FFFFFF,
		 2px  2px 0   #FFFFFF;
}
.h15 {
  position: absolute;
  width: 346px;
  height: 205px;
  left: -9px;
  top: 4133px;
  font-size: 144px;
  line-height: 142.5%;
  text-align: center;
  font-variant: small-caps;
  color: #000000;
}
.h16 {
  position: absolute;
  width: 872px;
  left: 303px;
  top: 4133px;
  font-family: Menoe Grotesque Pro;
  font-style: italic;
  font-size: 144px;
  line-height: 142.5%;
  text-align: center;
  color: #313131;
}
.h17 {
  position: absolute;
  left: 1174px;
  top: 4133px;
  font-size: 144px;
  line-height: 142.5%;
  color: #FFFFFF;
}
.h18 {
  position: absolute;
  left: 2px;
  top: 4278px;
  font-size: 144px;
  line-height: 142.5%;
  color: #FFFFFF;
}
.h19 {
  position: absolute;
  width: 346px;
  height: 205px;
  left: 849px;
  top: 4278px;
  font-size: 144px;
  line-height: 142.5%;
  text-align: center;
  font-variant: small-caps;
}
.h20 {
  position: absolute;
  width: 173px;
  height: 205px;
  left: 1250px;
  top: 4278px;
  font-size: 144px;
  line-height: 142.5%;
  text-align: center;
  font-variant: small-caps;
  color: #A7A7A7;
}
.h21 {
  position: absolute;
  left: 354px;
  top: 4423px;
  font-size: 144px;
  line-height: 142.5%;
  font-variant: small-caps;
  color: #A7A7A7;
}
.h22 {
  position: absolute;
  left: 1180px;
  top: 4423px;
  font-family: Menoe Grotesque Pro;
  font-style: italic;
  font-size: 144px;
  line-height: 142.5%;
  color: #000000;
}
.h23 {
  position: absolute;
  left: 674px;
  top: 4982px;
  font-size: 48px;
}
.h24 {
  position: absolute;
  left: 68px;
  top: 4863px;
  font-size: 36px;
  letter-spacing: 0.095em;
  font-variant: small-caps;
  color: #FFFFFF;

}
.h25 {
    position: absolute;
  left: 666px;
  top: 5122px;
  font-size: 44px;
  line-height: 57%;
  letter-spacing: 0.04em;
  font-variant: small-caps;
  color: #FFFFFF;
}
